body { background-color: #F5F4F1; }
header {
  position: absolute; left: 0; right: 0; top: 0; padding: 7rem 2rem 0; z-index: 100;

  .top {
    display: flex; justify-content: space-between;

    .logo {
      a { display: block; width: 9.4rem; height: 4rem; background: url(../assets/images/BI.png) no-repeat center/contain; }
    }
    >div {
      a {
        display: inline-block; width: 4rem; height: 4rem; background-repeat: no-repeat; background-position: center; background-size: 2.3rem auto;

        &.ico_location { background-image: url(../assets/images/ico_location.png); }
        &.ico_alarm { background-image: url(../assets/images/ico_alarm.png); }
      }
    }
  }
  .gnb {
    padding-top: 2.5rem;

    ul {
      display: flex; justify-content: space-between;

      &::-webkit-scrollbar { display: none; }
      >li {
        font-size: 1.8rem; font-weight: 500; letter-spacing: -.05rem;

        a { display: block; padding: 0 1.1rem; line-height: 3.5rem; color: #fff; }
        &.active {
          a { border-radius: 35rem; color: #f17785; background-color: #fff; }
        }
      }
    }
  }
  .btn_program__view { position: absolute; top: 0; left: 50%; width: 4.5rem; height: 5.5rem; background: #ffffff url(../assets/images/ico_shutdown.png) no-repeat center bottom 0.9rem/1.2rem auto; box-shadow: 0px .5rem 0px rgba(0, 0, 0, .06); border-radius: 0px 0px 4.5rem 4.5rem; transform: translateX(-50%); }
}
section + hr {
  height: 1rem;
  border-style: solid none;
  border-color: #F5F5F5 transparent;
  border-width: 1px 0;
  background-color: #FAFAFA;;
}
.swiper.visual {
  border-radius: 0 0 5% 10%;
  .visual_page {
    display: flex; justify-content: flex-end; flex-direction: column; height: 50rem; padding: 0 0 11.7rem 4rem; font-family: 'NanumSquareRound';

    p {
      line-height: 2.76rem;

      span,em { text-shadow: 0 .15rem 0 rgba(0,0,0,.15); font-weight: 800; }
      span { font-size: 2rem; }
      em { display: block; font-size: 2.2rem; color: #fff; }
    }
    >img { width: 7.5rem; padding: .6rem 0 1.5rem; }
    .btn_go { display: block; width: 5.25rem; padding: 0 0 0 1rem; line-height: 3rem; color: #999; font-size: 1.4rem; font-weight: 700; border-radius: 3rem; box-shadow: 0px 0.3rem 0px rgba(0, 0, 0, 0.1); background: url(../assets/images/ico_arrow.png) no-repeat right 1rem center/0.85rem auto #fff; }
    &.visual_page1 {
      background: url(/assets/images/bg_component1.png) no-repeat right bottom/auto 28.6rem #F17785;

      >p>span { color: #FFD8BC; }
    }
    &.visual_page2 {
      background: url(/assets/images/bg_component2.png) no-repeat right bottom/auto 28.6rem #ABCD05;

      >p>span { color: #FFF8BC; }
    }
  }
}
.login_wrap {
  position: relative;
  width: calc(100% - 4rem);
  height: 14.8rem;
  padding: 2rem;
  margin: -5rem auto 0;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 0 rgb(0 0 0 / 6%);
  z-index: 100;
  p, h2 {
    font-size: 1.6rem;
    line-height: 2.167rem;
    letter-spacing: -.05rem;
  }
  .login {
    color: #999;
    p {
      b { display: block; color: #333; }
    }
    .btn_wrap {
      display: flex;
      justify-content: center;
      padding-top: 1.7rem;
      .btn {
        display: block;
        color: #fff;
        font-size: 1.4rem;
        line-height: 4rem;
        padding: 0 3.4rem 0 1.2rem;
        border-radius: 3rem;
        background: url(../assets/images/ico_arrow_w.png) no-repeat right 1.5rem center/1rem auto;
        &:not(:last-child) { margin-right: 1rem;}
        &.green {
          background-color: #ABCD05;
        }
        &.gray {
          background-color: #999;
        }
      }
    }
  }
  .logout {
    h2 {
      float: left;
      color: #333;
      font-weight: normal;
      b {
        color: #ABCD05;
      }
    }
    > div {
      float: right;
      font-size: 0;
      img {
        width: 3rem;
        border: .2rem solid #fff;
        border-radius: 50%;
        + img {
          margin-left: -1.2rem;
        }
      }
    }
    > ul {
      display: flex;
      clear: both;
      padding-top: 1.7rem;
      > li {
        flex: 1;
        text-align: center;
        &:not(:last-of-type) {
          border-right: .1rem solid #F5F5F5;
        }
        strong {
          color: #666;
          font-weight: 800;
          font-size: 3.5rem;
          font-family: 'NanumSquareRound';
        }
        p {
          font-size: 1.4rem;
        }
        > a {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 6.3rem;
          > div {
            position: relative;
            display: inline-block;
            img {
              width: 3.5rem;
              border: .15rem solid #fff;
              border-radius: 100%;
              outline: .15rem solid #17298B;
            }
            span {
              position: absolute;
              top: -.15rem;
              right: 0;
              height: 2rem;
              padding: 0 .4rem;
              color: #f17785;
              border: .2rem solid #f17785;
              line-height: 1.8rem;
              border-radius: 2rem;
              font-size: 1.1rem;
              font-weight: 800;
              background-color: #fff;
              font-family: "NanumSquareRound";
              box-shadow: 0 .2rem 0 rgba(0,0,0,.15);
            }
          }
        }
      }
    }
  }
}

.tit {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1.5rem 2rem;
  h2 {
    letter-spacing: -.05rem;
    font-weight: 800;
    font-family: "NanumSquareRound";
    &.h2 {
      height: 3.5rem;
      color: #96938B;
      font-size: 1.6rem;
      line-height: 3.3rem;
      border-radius: 3.5rem;
      padding: 0 1.4rem;
      border: .2rem solid #96938B;
      background-color: #fff;
    }
    &.h2_2 {
      height: 3.5rem;
      color: #fff;
      font-size: 1.8rem;
      line-height: 3.5rem;
    }
  }
  .btn_more {
    display: inline-block;
    width: 4rem;
    height: 3.5rem;
    background: url(../assets/images/more.png) no-repeat 0 center/100% auto;
  }
}

.swiper.thanks {
  padding-left: 2rem;
  margin-bottom: 4rem;
  .swiper-slide {

  }
  a {
    display: flex;
    flex-direction: column;
    color: #666;
    padding: 2rem;
    margin-bottom: .5rem;
    letter-spacing: -0.05rem;
    min-height: 27.9rem;
    border-radius: 1.5rem;
    background-color: #fff;
    box-shadow: 0px .5rem 0px rgba(0, 0, 0, 0.08);
    h3 {
      color: #333;
      font-size: 1.6rem;
      font-weight: bold;
      padding-top: 2.75rem;
    }
    .txt {
      padding: 1rem 0 0;
      font-size: 1.4rem;
      line-height: 2.2rem;
      letter-spacing: -.06rem;
      word-break: break-all;
      overflow: hidden;
      display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }
    .info {
      order: -1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 3rem;
      }
      span {
        color: #ccc;
        font-size: 1.4rem;
      }
    }
    .info2 {
      height: 3rem;
      margin-top: 1rem;
      line-height: 3rem;
      font-size: 1.4rem;
      font-weight: 500;
      background: url(../assets/images/btn_go.png) no-repeat right center/3rem auto;
    }
  }
}

.review {
  background: #85D0C3;
  .tit {
    padding-top: 2.2rem;
  }
  .review_slide {
    padding: 0 2rem;
    .swiper-slide {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 17.25rem;
        padding: .8rem 1.3rem;
        border-radius: 1.5rem;
        background-color: #F5F5F5;
        box-shadow: 0px .5rem 0px rgba(0, 0, 0, 0.08);
        .left {
          order: -1;
          position: relative;
          text-align: center;
          .thumb {
            display: block;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            border: .3rem solid #78BCB0;
          }
          .logo {
            width: 4.25rem;
            margin-top: -2rem;
          }
        }
        .right {
          letter-spacing: -.05rem;
          color: #55827A;
          strong {
            font-size: 1.6rem;
          }
          p {
            font-size: 1.4rem;
          }
          span {
            display: block;
            color: #78BCB0;
            font-size: 1.2rem;
            letter-spacing: 0;
          }
        }
      }
    }
    .paging {
      position: relative;
      bottom: auto;
      padding: 2.1rem 0 0;
      text-align: left;
      > span {
        width: .7rem;
        height: .7rem;
        margin: 0;
        margin-right: .5rem;
        background-color: rgba(0,0,0,.5);
        transition: width .3s;
        &.swiper-pagination-bullet-active {
          width: 3rem;
          border-radius: .7rem;
          background-color: #fff;
        }
      }
    }
  }
  .ad {
    padding: 3rem 2rem;
    img {
      width: 100%;
    }
  }
}

@mixin slide2_common {
  .swiper_container {
    padding: 0 2rem;
    a {
      display: block;
      figure {
        img {
          width: 100%;
          border-radius: 1.5rem;
        }
        figcaption {
          letter-spacing: -.08rem;
          > strong, > p {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
          }
          strong {
            display: block;
            color: #333;
            font-size: 1.6rem;
            -webkit-line-clamp: 1;
            overflow:  hidden; 
            white-space: nowrap; 
            text-overflow: ellipsis;
            letter-spacing: -.09rem;
          }
          p {
            word-break: break-all;
            color: #999;
            font-size: 1.4rem;
            -webkit-line-clamp: 2;
            padding-top: .35rem;
          }
        }
      }
    }
  }
}


.news_list {
  background-color: #fff;
  @include slide2_common;
  .list_type {
    figure {
      > div {
        position: relative;
        border-radius: 1.5rem;
        margin-bottom: 1.5rem;
        box-shadow: 0px 0.5rem 0px rgb(0 0 0 / 8%);
        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-radius: 1.5rem;
          background: url('../assets/images/btn_play.png') no-repeat center/3.35rem  rgba(0,0,0,.4);
        }
      }
    }
  }
}

.product_list {
  background-color: #fff;
  @include slide2_common;
  .list_type {
    a {
      figure {
        padding: 0 0 3.1rem;
        img {}
        figcaption {
          padding-top: 1.25rem;
          p {
            -webkit-line-clamp: 1;
            margin-bottom: .55rem;
          }
          > span, > del {
            font-size: 1.2rem;
            color: #999;
            letter-spacing: 0;
          }
          > div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.6rem;
            color: #9aba00;
            letter-spacing: 0;
          }
        }
      }
    }
  }
}
.community {
  padding-bottom: 3.5rem;
  background-color: #fff;
  .list_type {
    padding: 0 2rem;
    > li {
      & ~ li {
        margin-top: 2rem;
        padding-top: 2rem;
        border-top: 1px solid #F1F1F1;
      }
      a {
        display: block;
        font-size: 1.4rem;
        letter-spacing: -0.07rem;
        > h3, > p {
          display: -webkit-box;
          overflow: hidden;
          -webkit-box-orient: vertical;
        }
        h3 {
          color: #333;
          font-size: 1.6rem;
          padding: 0 0 .6rem;
          -webkit-line-clamp: 1;
        }
        p {
          color: #666;
          margin: 0 0 1.675rem;
          -webkit-line-clamp: 3;
        }
        .info {
          display: flex;
          justify-content: space-between;
          color: #999;
          .date {
            color: #666;
            font-weight: 500;
          }
          .help, .reply {
            padding-left: 1.45rem;
            margin-left: 1.35rem;
          }
          .help {
            background: url(../assets/images/ico_heart.png) no-repeat 0 center/1.2rem;
          }
          .reply {
            background: url(../assets/images/ico_reply.png) no-repeat 0 center/1.2rem;
          }
        }
      }
    }
  }
}
.banner {
  a {
    display: block;
    color: #fff;
    height: 14.6rem;
    padding: 2.5rem 0 0 2rem;
    letter-spacing: -0.07rem;
    font-family: "NanumSquareRound";
    background: url(../assets/images/@ad.png) no-repeat right bottom/auto 100% #F17785;
    > * { display: block;}
    strong {
      font-size: 2.3rem;
      font-weight: 800;
      padding-bottom: .5rem;
    }
    p {
      font-size: 1.4rem;
      margin-bottom: .9rem;
    }
    span {
      width: 10.2rem;
      height: 2.3rem;
      line-height: 2.3rem;
      border-radius: 2.3rem;
      text-align: center;
      font-size: 1rem;
      color: #F17785;
      background-color: #fff;
    }
  }
}
.notice {
  background-color: #F5F5F5;
  .list_type {
    padding: 0 2rem 4rem;
    > li {
      & ~ li {
        margin-top: 1.35rem;
        padding-top: 1.35rem;
        border-top: 1px solid #F1F1F1;
      }
      a {
        display: block;
        font-size: 1.4rem;
        letter-spacing: -0.07rem;
        h3 {
          color: #333;
          font-size: 1.6rem;
          padding: 0 0 .6rem;
          -webkit-line-clamp: 1;
        }
        > div {
          display: flex;
          justify-content: space-between;
          color: #666;
          p {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
          .date {
            flex-shrink: 0;
            padding-left: 1rem;
            color: #999;
          }
        }
      }
    }
  }
}

.quick {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 8rem;
  border-top: 2px solid #F1F1F1;
  background-color: #fff;
  z-index: 200;
  transition: all .3s;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  ul {
    display: flex;
    padding: 1.5rem 2.35rem 0;
    > li {
      flex: 1;
      padding: 0 1.55rem;
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) a::before {
          content: '';
          display: block;
          margin: 0 auto .5rem;
          width: 1.8rem;
          height: 2rem;
          background: url(../assets/images/ico_quick#{$i}.png) no-repeat center 0/auto 100%;
        }       
      }
      a {
        display: block;
        color: #666;
        font-weight: 500;
        font-size: 1.4rem;
        text-align: center;
      }
    }
  }
}
.star {
  display: flex;
  width: 5.5rem;
  span {
    flex: 1;
    height: 1.2rem;
    background: url('../assets/images/ico_star.png') no-repeat 0 0/auto 100%;
    + span {
      padding-left: .1rem;
    }
    &.on {
      background-image: url(../assets//images/ico_star_on.png);
    }
  } 
}

